# служебные директории
.git/
.idea/

# директория интерпретатора
venv/

# ненужные файлы
.gitignore
.env
.env.dist
LICENSE
README.md
*.log
.dockerignore
docker-compose.yml
Dockerfile

# конфиденциалльные данные
id_rsa
id_rsa.pub
